<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11"> 
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsssum dolor sit amet consectetur adipisicing elit. Magnam asperiores repudiandae iure animi amet iusto recusandae distinctio. Quas, ut voluptatum perspiciatis pariatur excepturi provident et autem optio veniam voluptate earum.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam asperiores repudiandae iure animi amet iusto recusandae distinctio. Quas, ut voluptatum perspiciatis pariatur excepturi provident et autem optio veniam
            voluptate earum.</p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam asperiores repudiandae iure animi amet iusto recusandae distinctio. Quas, ut voluptatum perspiciatis pariatur excepturi provident et autem optio veniam
            voluptate earum.</p>
        </ul>
    </div>
</div>