<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/20210613_124612.jpeg" class="img-fluid" id="fotodeperfil">
    </div>
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Karen Ailen Odasso</p>
        <p id="rubro">Full-Stack Jr.</p>
     </div>
     <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Estudiante de Desarrollo Web Full-Stack Jr.
                <br> 
                Tecnica Superior en Protesis Dental. 
                <br>
                Amante de los gatos, en especial los de color negro :)
            <p>
        </span>
     </div>
</div>